body{
    background-color: rgba(240, 255, 255, 0.171);
}
.app{
    min-height: 100vh;
    min-width: 100wh;
    width: 70vw;
    /* background:url('./background.jpg'),linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3));
    background-size: cover;
    background-position: center; */
   margin:16px auto;
  


}



/* .heading{
    display: flex;
    align-items: center;
    height: 580px;
} */ 